<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MySmartHome - Page not founed</title>
  </head>
  <body>
    <h1>Sorry, but we can't find the page you asked...</h1>
    <img
      src="https://p7.hiclipart.com/preview/792/825/166/cat-kitten-humour-puppy-mouse-cat.jpg"
      alt="surprised"
    />
    <br />
    <a href="/">Return to main page</a>
  </body>
</html>
