<!-- 
    R2A:  Display  information  about  the  web  application  including  your  name  as  the developer.Display  a  link  to  the  home  page  or  a  navigation  bar thatcontains  links  to other pages.
 -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/main.css" />
    <title>MySmartHome - About</title>
  </head>
  <body>
    <h1>Abouth MySmartHome app</h1>
    <p>
      This app was develped as midterm project for Databases mobule by UOL
      student - M.Timarsuev.
    </p>
    <ul>
      <li><a href="/"> Main page</a></li>
      <li><a href="/list"> Devices list</a></li>
      <li><a href="/deviceAdd"> Add device</a></li>
      <li><a href="/deviceDelete"> Delete device</a></li>
      <li><a href="/deviceStatus"> Check device status</a></li>
      <li><a href="/deviceUpdate"> Update device</a></li>
    </ul>
  </body>
</html>
