<!-- 
    - R5A: Display a list of already added devices and then let the user choose a device from the list.Display a link to the home page or a navigation bar thatcontains links to other pages.
    - R5B: Display data related to the chosen devicefound in the database to users including name, and  related  settings. As  an  example,  if  TV  is  selected  related  settings would be on/off  setting,  volume, and  channel. If the heating  system  is  chosen  minimum  settings, are  on/off  and  temperature, so userscan  update  each  field.Collect  form  data  to  be passed  to  the  back-end  (database)and  store updated devicestatusin  the  database.Display a message indicating the update operation has been done.
    - R5C: Improve R5B by automatically hiding input fields that do not apply to the chosen device.
    - R5D: Going  beyond  byimproving  R5Band  R5C.  Improvement  could  be  achieved  by letting  the  user  update  device  status  through a graphical  display  of  the  device  settings like a dashboard.
 -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MySmartHome - Update device</title>
  </head>
  <body>
    <% try{if(dbData && deviceHtml){ %>
    <h1>Update status: <%= dbData[`name`] %></h1>
    <div id="contentWrapper"><%- deviceHtml %></div>

    <%}}catch{%>
    <h1>Something went wrong...</h1>
    <%} %>
    <ul>
      <li><a href="/"> Main page</a></li>
      <li><a href="/about"> About</a></li>
      <li><a href="/list"> Devices list</a></li>
      <li><a href="/deviceAdd"> Add device</a></li>
      <li><a href="/deviceDelete"> Delete device</a></li>
      <li><a href="/deviceUpdate"> Update device</a></li>
    </ul>
  </body>
</html>
