<!-- 
    - R4A: Display a list of already added devices and then let the user choose a device from the list. Display a link to the home page or a navigation bar that contains links to other pages.
    - R4B: Display data related to the chosen device found in the database to users including name,  and  related  settings. As  an  example,  if  TV  is  selected  related  settings  would  be on/off  setting,  volume,and  channel.If the heating  system  is  chosen  minimum  settings,are on/off and temperature. Display a message to the user if not found.
    - R4C: Improve R4B by automatically hiding input fields that do not apply to the chosen device.
    - R4D: Going  beyond  by  improving  R4Band  R4C,  by a graphical  display  of  the  device settings like a dashboard. 
 -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MySmartHome - Device status</title>
  </head>
  <body>
    <h1>Device status</h1>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium
      minima rem veritatis perferendis ratione, doloremque illo dolorum eius!
      Adipisci fugiat nesciunt at unde laboriosam libero aut maxime doloremque
      dicta quis?
    </p>
    <ul>
      <li><a href="/"> Main page</a></li>
      <li><a href="/about"> About</a></li>
      <li><a href="/list"> Devices list</a></li>
      <li><a href="/deviceAdd"> Add device</a></li>
      <li><a href="/deviceDelete"> Delete device</a></li>
      <li><a href="/deviceUpdate"> Update device</a></li>
    </ul>
  </body>
</html>
