<!-- 
    - R3A: Display  a  form  to  users  to  add  a  new device to  the  database.The  form  should consist of the following items: name of the device to be selected from a pre-defined set of  devices and  other  input  fields  such  as  on/off,  open/close,  temperature,  volume,  etc. Depending on the chosen device other input fields might be applicable or not applicable. The minimum number of devices in the pre-defined list is 20. Display a link to the home page or a navigation bar thatcontains links to other pages.
    - R3B: Collect  form  data  to  be  passed  to the  back-end  (database)and  store the device name and its corresponding initial status in  the  database.  Each device item  consists  of input fields such  as name, on/off, open/close,  temperature,  volume,  etc.  Some  fields might  not  be  applicable  for  some  devices.  As  an  example, the open/close  field  is  not relatedto a heating  device  but appliesto  a  blind  or a curtain,or  a  door.  As  another example volume does not apply to the heating system, but the temperature does. Display a message indicating that add device operation has been done successfully.
    - R3C: Improve R3B by automatically assigning ‘not applicable’ initial value to the fields that do  not  apply to  the  chosen  device.  It  is  even  better  to  disable  or  hide  those  input fields from users when adding a new device. As an example, if a user adds a new device called ‘heating’ then the minimumrequired input fields to be displayed and initialised by the user  are:  on/off  and  temperature  and  all  othernon-related  inputfieldsmust  be initialised to NA (not applicable) status.
    - R3D:  Form  validation,  make  sure  all  required  formdata  is  filled  and also valid  data  is entered by user.If required fields are empty or data is not valid,re-display the form to the user with appropriatemessage to fill itagain. As an example, entering a string or a value of 400 is not valid for the temperature of a‘heating’ device.
 -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MySmartHome - Add device</title>
  </head>
  <body>
    <h1>Add new smart device</h1>
    <select name="device" id="select" onchange="ajaxReq(this.value)">
      <% types.forEach(row => {%>
      <option value="<%= row.type %>"><%= row.type %></option>
      <%}) %>
    </select>
    <form action="" method="post" id="addDevice">
      <% properties.forEach(row => { for(const key in row){ if(key !==
      `type`){%>
      <p><%=key%> - <%=row[key]%></p>
      <%} } }) %>
    </form>

    <ul>
      <li><a href="/"> Main page</a></li>
      <li><a href="/about"> About</a></li>
      <li><a href="/list"> Devices list</a></li>
      <li><a href="/deviceDelete"> Delete device</a></li>
      <li><a href="/deviceStatus"> Check device status</a></li>
      <li><a href="/deviceUpdate"> Update device</a></li>
    </ul>
  </body>
  <script>
    function ajaxReq(arg) {
      const xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {
          const elem = document.querySelector(`#addDevice`);
          if (elem) {
            const response = JSON.parse(xhttp.response)[0];
            elem.innerHTML = dataToForm(response);
          }
        }
      };
      xhttp.open(`GET`, `?show=${arg}`, true);
      xhttp.send();
    }
    function dataToForm(dataObj) {
      // Check for correct argument
      if (
        Object.getPrototypeOf(dataObj) === Object.prototype &&
        Object.keys(dataObj).length !== 0
      ) {
        // Prepare form html
        let form = `<form action="" method="post">`;
        // Iterate over key's
        for (const key in dataObj) {
          if (key !== `type`) {
            // make input depending on key/value
            form += createInput(key, dataObj[key]);
          }
        }
        form += `<input type="submit" value="Add device"></form>`;
        return form;
      }
    }
    function propertyGetName(propertyString) {
      let propertyName = propertyString.slice(0, propertyString.indexOf(`[`));
      propertyName = propertyName.split(`_`);
      propertyName = propertyName.join(` `);
      propertyName = propertyName[0].toUpperCase() + propertyName.slice(1);
      return propertyName;
    }
    function propertyGetInput(propertyString) {
      const propertyInputStr = propertyString.slice(
        propertyString.indexOf(`[`) + 1,
        propertyString.indexOf(`]`)
      );
      return propertyInputStr;
    }
    function parseValue(value) {
      const res = value.split(`,`);
      return res.map((str) => {
        str = str.trim();
        return str.slice(1, str.length - 1);
      });
    }
    function createInput(key, value) {
      const name = propertyGetName(key);
      const input = propertyGetInput(key);
      const properties = parseValue(value);
      // console.log(`Name - ${name}, input - ${input}, prop - ${properties}`);
      let html = `<div id="${name}">${name}<br>`;
      switch (input) {
        case `radio`:
          properties.forEach((option) => {
            html += `<label><span>${option}</span>
            <input type="${input}" name="${name}" value="${option}">
            </label>`;
          });
          break;
        case `time`:
          break;
        case `range`:
          break;
        case `color`:
          break;
        case `text`:
          break;
        case `datetime`:
          break;
      }
      html += `</div>`;
      return html;
    }
  </script>
</html>
