<!-- 
      R1A: Display the name of the web application.
      R1B:  Display links to other pagesor a navigation bar thatcontains links to other pages. 
    -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MySmartHome - Main</title>
  </head>
  <body>
    <h1>
      MySmartHome - your all-in-one house assistant
      <img
        src="https://cdn4.iconfinder.com/data/icons/internet-security-flat-2/32/Internet_Security_home_house_smart_network_sharing-256.png"
        alt="smart-house"
        width="52"
      />
    </h1>
    <% try{if(data){ %> <%- data %> <% }} catch{ } %>
    <p>
      This application allows you to connect and control all your devices to
      this single dashboard. To proceed, please select one of the available
      options:
    </p>
    <ul>
      <li><a href="/about"> About</a></li>
      <li><a href="/list"> Devices list</a></li>
      <li><a href="/deviceAdd"> Add device</a></li>
      <li><a href="/deviceDelete"> Delete device</a></li>
      <li><a href="/deviceStatus"> Check device status</a></li>
      <li><a href="/deviceUpdate"> Update device</a></li>
    </ul>
  </body>
</html>
