<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MySmartHome - Device list</title>
  </head>
  <body>
    <h2>List of all items</h2>

    <% try{if(sysMsg){%>
    <div id="sysMsg" class="<%=sysMsg[0]%>"><%= sysMsg[1] %></div>
    <%}}catch{}; %>

    <br />

    <% if(devices.length > 0){%>
    <table>
      <tr>
        <th>No.</th>
        <th>Name</th>
        <th>Type</th>
        <th>Check settings</th>
        <th>Change settings</th>
        <th>Delete device</th>
      </tr>
      <% for(let i = 0; i < devices.length;i++){%>
      <tr>
        <td><%=i+1%></td>
        <td><%=devices[i].name%></td>
        <td><%=devices[i].type%></td>
        <td>
          <a href="/deviceStatus?device=<%=devices[i].id%>"
            >Check - <%=devices[i].name%></a
          >
        </td>
        <td>
          <a href="/deviceUpdate?device=<%=devices[i].id%>"
            >Change settings - <%=devices[i].name%></a
          >
        </td>
        <td>
          <a
            href="/deviceDelete?device=<%=devices[i].id%>"
            onclick="return confirm(`Are you sure you want to delete this item?`)"
            >Delete - <%=devices[i].name%></a
          >
        </td>
      </tr>
      <%}%>
    </table>
    <%}else{%>
    <p>
      There are no devices to display yet. Please add some smart devices and
      check later!
    </p>
    <%} %>

    <ul>
      <li><a href="/"> Main page</a></li>
      <li><a href="/about"> About</a></li>
      <li><a href="/deviceAdd"> Add device</a></li>
      <li><a href="/deviceDelete"> Delete device</a></li>
      <li><a href="/deviceStatus"> Check device status</a></li>
      <li><a href="/deviceUpdate"> Update device</a></li>
    </ul>
  </body>
</html>
