<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MySmartHome - Device list</title>
  </head>
  <body>
    <h2>List of all items</h2>
    <ul>
      <li>item#1</li>
      <li>item#2</li>
      <li>item#3</li>
    </ul>
    <ul>
      <li><a href="/"> Main page</a></li>
      <li><a href="/about"> About</a></li>
      <li><a href="/deviceAdd"> Add device</a></li>
      <li><a href="/deviceDelete"> Delete device</a></li>
      <li><a href="/deviceStatus"> Check device status</a></li>
      <li><a href="/deviceUpdate"> Update device</a></li>
    </ul>
  </body>
</html>
