<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>test</title>
  </head>
  <body>
    <form method="post" name="test_form">
      <input
        type="text"
        name="input"
        value="' droptable ' <script> test: 1-2-3 </script>"
      />
      <input type="submit" name="submit" value="Submit" />
    </form>
  </body>
</html>
