<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SmartHouse control panel</title>
  </head>
  <body>
    <h1>Main page</h1>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim fugiat odit
      ea, harum iusto tempora culpa laborum. Consequatur molestias fugiat
      numquam, cumque accusantium repellendus ut aliquid, voluptatem ratione est
      itaque!
    </p>
  </body>
</html>
