<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Variables to templates lab</title>
  </head>
  <body>
    <h1>Add new book page</h1>
    <form method="post" name="addBook_form" value="NewBook">
      <input type="text" name="bookName" value="Book about smth" />
      <input type="text" name="bookPrice" value="10.00" />
      <input type="submit" name="Add book!" />
    </form>

    <a href="/">Main page</a><br />
    <a href="/list">Check all items</a><br />
    <a href="/search">Search book</a><br />
  </body>
</html>
