<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Variables to templates lab</title>
  </head>
  <body>
    <h1>Main page</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, fugiat
      velit! Accusamus ipsam laborum excepturi ex quam officiis cumque sapiente
      atque, provident nesciunt corrupti reprehenderit, quaerat repellendus
      reiciendis deserunt delectus?
    </p>
    <a href="/list">Check all items</a><br />
    <a href="/search">Search book</a><br />
    <a href="/addBook">Add new book</a><br />
  </body>
</html>
