node_modules
package-lock.json
/Sem4/OOP/DJ_app/DJ_app/Builds/VisualStudio2022/.vs/DJ_app/v17/Browse.VC.db
/Sem4/OOP/DJ_app/DJ_app/Builds/VisualStudio2022/.vs/DJ_app/v17/Browse.VC.opendb
/Sem4/OOP/DJ_app/DJ_app/JuceLibraryCode
/Sem4/OOP/DJ_app/DJ_app/Builds/VisualStudio2022/x64/Debug/App
/Sem4/OOP/DJ_app/DJ_app/Builds/VisualStudio2022/.vs/DJ_app
/Sem4/OOP/DJ_app/DJ_app/Builds/VisualStudio2022/resources.rc
/Sem4/OOP/DJ_app/DJ_app/Builds/VisualStudio2022/DJ_app_App.vcxproj.user
/Sem4/OOP/DJ_app/DJ_app/Builds/VisualStudio2022/DJ_app_App.vcxproj.filters
/Sem4/OOP/DJ_app/DJ_app/Builds/VisualStudio2022/DJ_app_App.vcxproj
/Sem4/OOP/DJ_app/DJ_app/Builds/VisualStudio2022/DJ_app.sln
/Sem4/OOP/DJ_app/DJ_app/tracks
/Sem4/OOP/DJ_app/DJ_app/DJ_app.jucer
/Sem4/OOP/DJ_app/Final/Otodecks/JuceLibraryCode
/Sem4/OOP/DJ_app/Final/Otodecks/Builds/VisualStudio2022
/Sem4/OOP/JuceTester
/Sem4/OOP/JuceTester
/Sem4/OOP/final/Otodecks/JuceLibraryCode
/Sem4/OOP/final/Otodecks/Builds/VisualStudio2022
/Sem4/OOP/DJ_app/Final/Otodecks
/Sem4/OOP/final/dump
