<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register page</title>
  </head>
  <body>
    <h1>Register User</h1>
    <form action="/registered" method="post">
      <input id="first" type="text" name="first" value="First name" />
      <input id="last" type="text" name="last" value="Last name" />
      <input type="submit" value="Submit" />
    </form>

    <br /><br /><br />
    <a href="/">MAIN PAGE</a>
    <a href="/search">SEARCH PAGE</a>
  </body>
</html>
