<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Data To Backend Lab</title>
  </head>
  <body>
    <h1>Add book page</h1>
    <!-- <form action="/bookAdded" method="post" name="addBookForm"> -->
    <form method="post" name="addBookForm">
      <input type="text" name="bookName" value="NewBook" />
      <input type="text" name="bookPrice" value="3.50" />
      <input type="submit" value="Add book!" />
    </form>
    <a href="/">Main page</a>
    <br />
    <a href="/list">Check all items</a>
  </body>
</html>
