<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Data To Backend Lab</title>
  </head>
  <body>
    <h1>Main page</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem magni
      nihil ea recusandae rerum laboriosam, quos ut cumque odit consequuntur
      accusamus eos impedit expedita labore eligendi reprehenderit qui autem
      commodi.
    </p>

    <a href="/list">DB items</a>
    <br />
    <a href="/addBook">Add new book</a>
  </body>
</html>
